html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  user-select: none;
  cursor: default;
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

* {
  /*outline: 1px solid red;*/
  box-sizing: border-box;
  /*-webkit-user-select: none;*/
  outline: none;
  /*-webkit-user-drag: none;*/
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.link {
  color: #fff;
}

.FileListRow {
  width: 100%;

  button {
    all: unset;
    background: #ccc;

    display: block;
    text-align: left;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

form.rjsf {
  button.btn-add::after,
  button.array-item-remove::after {
    height: 15px;
    width: 15px;
    padding: 0px;

    color: black;
  }
  button.btn-add::after {
    content: "+";
  }
  button.array-item-remove::after {
    content: "-";
  }

  label,
  input[type="checkbox"] {
    margin-right: 5px;
  }
  input,
  select {
    background-color: var(--rs-input-bg);
    border: 1px solid #e5e5ea;
    border: 1px solid var(--rs-border-primary);
    border-radius: 6px;
    color: #575757;
    color: var(--rs-text-primary);
    font-size: 14px;
    line-height: 1.42857143;
    padding: 7px 11px;
    -webkit-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
  }

  div.checkbox input {
    cursor: pointer;
  }

  select {
    padding: 3.5px 11px;
  }

  input:hover:not(:disabled) {
    border-color: #3498ff;
    border-color: var(--rs-input-focus-border);
    outline: 0;
  }

  input:focus {
    -webkit-box-shadow: 0 0 0 3px rgb(52 152 255 / 25%);
    box-shadow: 0 0 0 3px rgb(52 152 255 / 25%);
    -webkit-box-shadow: var(--rs-state-focus-shadow);
    box-shadow: var(--rs-state-focus-shadow);
  }

  fieldset[id*="root_hotkeys_list"] {
    border: none;
    div {
      display: inline-block;
    }
  }
  fieldset {
    border: none;
    box-shadow: 1 1 1 black;
  }

  span.required {
    display: none;
  }
}

.Aside {
  height: 100%;
  margin: 0px;
  background: #e6e6e686;
}
.Preview > div {
  width: calc(100% + 10px);
  height: 100%;
  background: #e6e6e686;
}

.Main {
  height: 100%;
}

.react-draggable {
  height: 100%;
  width: 100%;
}

.split {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.gutter {
  margin-right: -2.5px;
  margin-left: -2.5px;
  z-index: 2;
}

.gutter::after {
  content: "";
  transition: 0s background-color;
}

.gutter:hover::after,
.gutter:active::after {
  width: 2.5px;
  height: 100%;
  display: block;
  content: "";
  z-index: 3;
  background-color: #0c6eedb2;
  transition-delay: 0.5s;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.Menu {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 3px;
  height: 35px;
}

.FileList {
  overflow: scroll;
  height: calc(100vh - 45px);
}
.FileListRow:hover {
  background: rgba(0, 0, 0, 0.068);
}

.FileListRowItem div {
  margin-left: 7px;
}

.ContextMenu {
  position: fixed;
  z-index: 5;
  width: 20px;
  height: 20px;
  background: #eeeeee;
  border-radius: 2px;
}

.UrlBar {
  display: inline-block;
  height: 30px;
  width: calc(100% - 220px);
  padding-left: 10px;
  vertical-align: -4px;
  position: relative;

  .breadcrumbs {
    padding: 5px;
    padding-left: 10px;

    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 5px;
  }

  input {
    margin-left: 5px;
    width: calc(100% - 10px);
    background-color: #0000;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  input:hover {
    opacity: 1;
  }
  input:focus {
    color: #000;
    opacity: 1;
  }
}

.ConfigComponent {
  overflow-y: scroll;
  height: 100%;

  form {
    .errors,
    .text-danger {
      display: none;
    }
  }
}

ol {
  all: unset;
}

.Bookmarks {
  ol {
    padding-top: 10px;
    padding-left: 5px;
    display: block;
    li {
      padding: 0px 5px;
    }
  }
}
.Preview {
  z-index: 2;
}
