html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

#root {
    height: 100%;
}

.App {
    padding: 10px;
}

.link {
    color: #fff;
}

.file {
    all: unset;
    display: block;
    text-align: left;

    cursor: pointer;
    font-size: 16px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
